/* Ümumi stil */
body {
  font-family: 'Arial', sans-serif;
  background-color: #0f0f0f; /* Qara fon */
  color: #facc15;           /* Sarı vurğu */
  text-align: center;
  padding: 50px;
  margin: 0;
}

/* Header */
header {
  margin-bottom: 50px;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #fb923c; /* Narıncı hover */
}

/* Main */
main p {
  font-size: 1.5em;
  line-height: 1.8em;
}

/* Footer */
footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #888;
}
